a.btn.btn-primary.float-right(href=`/location/${location._id}/review/new`) Add review


form.form-horizontal(action="/location", method="get", role="form")

form.form-horizontal(action="", method="post", role="form")