<div class=" container-fluid ">
    <div class="row justify-content-center align-items-center h-vh-100">
        <div class="mw-320 align-self-center">
            <div class="card card-profile text-center">
                <div class="card-header" style="background-image: url(assets/images/bg/insta.jpg);"></div>
               
                <div class="card-body p-3 ">
                    <img class="card-profile-img rounded-circle" data-ng-src="assets/images/avatars/5.jpg"  alt="Card image cap">
                    <h5 class="card-title font-sm pt-2 pb-1">
                        {{::vm.fieldName.lockTitle }}
                    </h5>
                    <form role="form" name="lockForm" novalidate="">
                        <div class="form-group ">
                            <div class="input-group">
                                <label for="exampleInputname" class="sr-only">{{::vm.fieldName.password}}</label>
                                <input 
                                class="form-control"
                                data-ng-minlength="6" 
                                data-ng-maxlength="20" 
                                id="exampleInputPassword1" 
                                tabindex="1"
                                type="password" 
                                placeholder="{{::vm.fieldName.password}}" 
                                required="" 
                                name="lock_password" 
                                data-ng-model="lock.password" 
                                aria-describedby="passwordHelpInline">
                                <div class="input-group-prepend">
                                    <div class="input-group-text border-left-0 bg-transparent">
                                        <span class="fa fa-lock text-muted"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="text-muted" data-ng-show="lockForm.lock_password.$error.minlength">Input is 6 too short!</span>
                            <span class="text-muted" data-ng-show="lockForm.lock_password.$error.maxlength">Input is 20 too long!</span>
                            <span class="text-danger " data-ng-show="lockForm.lock_password.$dirty && lockForm.lock_password.$error.required">This field is required</span>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <button class="btn btn-sm btn-primary btn-block" tabindex="2" type="button" data-ng-click="$state.go('adminApps.dashboard')"> {{::vm.fieldName.unlock}} </button>
                            </div>
                            <div class="col-sm-8 text-right ">
                                <a class="text-muted" data-ui-sref="userApps.recover"> {{::vm.fieldName.forgotPassword}}? </a>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- <div class="card-footer text-muted bg-transparent ">
                        @ 2018 - WKR
                        <br> WKR Bootstrap Admin Template
                    </div> -->
            </div>
            <p class=" text-center text-muted"> @ 2018 - WKR
                <br> WKR Bootstrap Admin Template</p>
        </div>
    </div>
</div>


<!-- <form role="form" name="lockForm" class="ng-pristine ng-invalid ng-invalid-required">
    <div class="form-group has-feedback">
        <input class="form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" id="exampleInputPassword1"
            type="password" placeholder="Password" required="" name="lock_password" ng-model="lock.password">
        <span class="fa fa-lock form-control-feedback text-muted"></span>
        <span class="text-danger ng-hide" ng-show="lockForm.lock_password.$dirty &amp;&amp; lockForm.lock_password.$error.required">This field is required</span>
    </div>
    <div class="clearfix">
        <div class="pull-left mt-sm">
            <a class="text-muted" ui-sref="page.recover" href="#!/page/recover">
                <small>Forgot your password?</small>
            </a>
        </div>
        <div class="pull-right">
            Change this button type to submit to send the form data
            <button class="btn btn-sm btn-primary" type="button" ng-click="$state.go('app.dashboard')">Unlock</button>
        </div>
    </div>
</form> -->