<div class=" container-fluid ">
        <div class="row justify-content-center align-items-center h-vh-100">
            <div class="mw-320 align-self-center">
                <div class="card text-center bg-transparent">
                    <div class="card-header bg-transparent b-b-0">
                        <h1>{{::vm.fieldName.fiveOFiveTitle}}</h1>
                    </div>
    
                    <div class="card-body p-3 ">
    
                        <h5 class="card-title font-sm  mb-3">{{::vm.fieldName.fiveOFiveSubTitle  }}</h5>
                        <h6 class="card-subtitle font-xs text-muted mb-2"> {{::vm.fieldName.fiveOFiveMessage }} </h6>
                        <p class=" mb-5">{{::vm.fieldName.fiveOFiveparagrap }}</p>
    
                        <ul class="nav justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link text-muted" ui-sref="adminApps.dashboard" tabindex="3" aria-label="Dashboard Link">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link  pl-0 pr-0 text-muted ">|</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted" ui-sref="userApps.login" tabindex="4" aria-label="Login Link">Login</a>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link pl-0 pr-0 text-muted ">|</span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-muted" ui-sref="userApps.register" tabindex="5" aria-label="Register Link">Register</a>
                            </li>
                        </ul>
    
                    </div>
                    <!-- <div class="card-footer text-muted bg-transparent ">
                            @ 2018 - WKR
                            <br> WKR Bootstrap Admin Template
                        </div> -->
                </div>
                <p class=" text-center text-muted"> @ 2018 - WKR
                    <br> WKR Bootstrap Admin Template</p>
            </div>
        </div>
    </div>