
<!--<header ng-include="'views/common-layours/common-layours/navbar.html'"></header>

 <div class="container-fluid">
    <div class="row">
       
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar" ng-include="'views/common-layours/common-components-layours/sidebar-nav.html'"></nav>
        
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
            <ui-view></ui-view>
        </main>

    </div>
</div> -->

<!-- Navbar -->
<div ng-include="'views/common-layours/navbar.html'"></div>

<div class="app-body">
    <!-- Navigation -->
    <div ng-include="'views/common-layours/sidebar-nav.html'"></div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb" breadcrumb>
            <ncy-breadcrumb></ncy-breadcrumb>

            <!-- Breadcrumb Menu-->
            <li class="breadcrumb-menu">
                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                    <a class="btn btn-secondary" href="#"><i class="icon-speech"></i></a>
                    <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-graph"></i> &nbsp;Dashboard</a>
                    <a class="btn btn-secondary" ui-sref="app.main"><i class="icon-settings"></i> &nbsp;Settings</a>
                </div>
            </li>

        </ol>

        <div class="container-fluid">
            <ui-view></ui-view>
        </div>
        <!-- /.conainer-fluid -->
    </main>


    <!-- Aside Menu -->
    <div ng-include="'views/common-layours/aside.html'"></div>

</div>

<!-- Footer -->
<div ng-include="'views/common-layours/footer.html'"></div>
