<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Some people</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="abc in vm.peoples">
                        <a ui-sref="person({ personId: abc.id })">
                            {{abc.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>