<div class="row">
    <div class="col-xs-6">


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">A person!</h3>
            </div>
            <div class="panel-body">
                <p>Name:
                    <strong> {{vm.person.name}}</strong>
                </p>
                <p>Id:
                    <strong> {{vm.person.id}}</strong>
                </p>
                <p>Company:
                    <strong> {{vm.person.company}}</strong>
                </p>
                <p>Email:
                    <strong> {{vm.person.email}}</strong>
                </p>
                <p>Address:
                    <strong> {{vm.person.address}}</strong>
                </p>
            </div>
            <div class="panel-footer">
                <button class="btn" ui-sref="people">Close</button>
            </div>
        </div>
    </div>
</div>