<div class="caption">
    <h3>{{vm.singleUser.name}}</h3>
    <p>{{vm.singleUser.email}}</p>
    <p> {{vm.singleUser.company}}</p>
    <p>eyeColor {{vm.singleUser.eyeColor}}</p>
    <address>
        <strong>{{vm.singleUser.address}}</strong>
    </address>
</div>
<!-- <div class="caption">
    <h3>{{vm.dogs.name}}</h3>
    <p>{{vm.dogs.email}}</p>
    <p> {{vm.dogs.company}}</p>
    <p>eyeColor {{vm.dogs.eyeColor}}</p>
    <address>
        <strong>{{vm.dogs.address}}</strong>
    </address>
</div> -->