<h3>Hello how are you Chapter-1</h3>
<!-- <directive directive-scope-inheritance></directive> -->
<dir-scope-inheritance></dir-scope-inheritance>

<hr>

<!-- <directive tree-directive></directive> -->
<tree-structure val="data"></tree-structure>
<script type="text/ng-template" id="recursive.html">
    <span>{{ val.text }}</span>
    <button ng-click="deleteSubtree()">delete</button>
    <ul ng-if="isParent" style="margin-left:30px">
        <li ng-repeat="item in val.items">
            <tree val="item" parent-data="val.items"></tree>
        </li>
    </ul>
</script>
