<div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="profileuser in vm.allUsers">
        <div class="thumbnail">
            <img ng-src="assets/img/{{profileuser.images}}.jpg" alt="{{profileuser.name}}">
            <div class="caption">
                <h3>
                    <a ui-sref="profile.profileuser({ profileuserId: profileuser.id })">
                         Name: {{profileuser.name}}
                    </a>
                </h3>
                <p>email {{profileuser.email}}</p>
                <p>{{profileuser.id}}</p>


                <!-- <p>company {{alluser.company}}</p>
                <p>eyeColor {{alluser.eyeColor}}</p>
                <address><strong>{{alluser.address}}</strong></address> -->
            </div>
        </div>
    </div>
</div>