<ul class="nav nav-sidebar">
    <li ui-sref-active="active">
        <a ui-sref="deshboard">Deshboard</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="home">home</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="about">About</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="table">Table</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="lable">Lable</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="arnov">Arnov</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="people">People</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="profile">Profile</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="directive">Directive</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="angular-datatables">Angular datatable</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="angular-datatables-advanced">Advanced datatable </a>
    </li>
</ul>