<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="deshboard">Deshboard
            <span class="sr-only">(current)</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" href="#">Reports</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="table">Table</a>
    </li>
</ul>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" ui-sref="lable" ui-sref-active="active">Lable</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="arnov" ui-sref-active="active">Arnov</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="people" ui-sref-active="active">People</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="profile" ui-sref-active="active">Profile</a>
    </li>
</ul>

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link" ui-sref="directive" ui-sref-active="active">Directive</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="angular-datatables" ui-sref-active="active">Angular datatable</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" ui-sref="angular-datatables-advanced" ui-sref-active="active">Advanced datatable</a>
    </li>
</ul>